// --------------------------------------------------------------------------------
// Global
// --------------------------------------------------------------------------------


@use "tailwindcss";

:root {
  --font-bold: bold;
}
@layer base {



  h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-bold);
  }

  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-bold);
  }

  h3 {
    font-size: var(--text-xl);
    font-weight: var(--font-bold);
  }
}
